.product-image{
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px ;
    height: 70hv;
}
main{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
h2{
    align-self: flex-start;
}
p{
    text-align: center;
}
