img{
    color:white; 
    cursor: pointer;
    
}
.shopButton{
    opacity: 0;
    cursor: none;
    display: none;
    
}
.shopButton2{
    opacity: 0;
    cursor: none;
    display: block;

}
.shopButton3{
    display: none;
}
